.basic_card {
    background-color: #fffffc;
    padding: 15px;
    border: solid 5px;
    border-radius: 14px;
    border-color: rgba(253, 245, 237, 0.69);
    transition: 0.4s;
}

.basic_card:hover {
    background-color: #f0fff4;
}

.card_title {
    text-align: center;
}

.task {
    background-color: lavenderblush;
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 4px;
    transition: 0.4s;
}

.task:hover {
    background-color: #ffffff;
    border-color: rgba(155, 116, 112, 0.83);
}