{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="basic_card">
                    <h3 class="card_title">TODO</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item task">Task1</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="basic_card">
                    <h3 class="card_title">In progress</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item task">Task1</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="basic_card">
                    <h3 class="card_title">Done</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item task">Task1</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                        <li class="list-group-item task">taskn</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}